@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid gray;
}

body {
  font-family: "Roboto";
  color: #334257;
  font-size: 20px;
}

h1 {
  font-size: 2.5em;
  font-weight: 900;
  color: white;
}

h2 {
  font-size: 1.8em;
  font-weight: 500;
}

p {
  line-height: 1.5em;
}

.dark-stripe {
  background-color: #334257;
  color: #eeeeee;
}

.light-stripe {
  background-color: #476072;
  color: #eeeeee;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  max-width: 70em;
  height: 3.75em;
  padding: 0.75em 1.25em;
  margin: auto;
}

#logo {
  object-fit: contain;
  width: 8.75em;
}

nav ul {
  display: flex;
  width: 25em;
  height: 100%;
}

nav ul li {
  text-align: center;
  display: block;
  width: 100%;
  margin: auto;
  font-size: 1.2em;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

nav ul li:hover {
  cursor: pointer;
  text-decoration: underline;
}

#intro {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
  column-gap: 1.5em;
  max-width: 70em;
  padding: 3.75em 1.25em;
  margin: 3.75em auto 0;
}

.intro-header {
  text-align: right;
}

.intro-header p {
  margin-top: 1em;
}

#intro-media {
  object-fit: contain;
  width: 100%;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #00000033;
}

#features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3.75em;
  max-width: 70em;
  margin: auto;
  padding: 6.25em 1.25em;

  /* prettier-ignore */
  grid-template-areas:
  "feature-header feature-header feature-header"
  "feature1 feature2 feature3";
}

.feature-header {
  grid-area: feature-header;
  justify-self: center;
  text-align: center;
}

.feature-header p {
  max-width: 40em;
  margin: 1.25em 0em 2.5em;
}

.feature img {
  width: 100%;
  box-shadow: 2px 2px 5px #00000033;
  border-radius: 5px;
}

.feature figcaption {
  margin: 1.25em 0em 0.75em;
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;
}

.feature p {
  text-align: center;
}

#feature1 {
  grid-area: feature1;
}

#feature2 {
  grid-area: feature2;
}

#feature3 {
  grid-area: feature3;
}

#projects {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
  column-gap: 1.5em;
  max-width: 70em;
  padding: 6.25em 1.25em;
  margin: auto;
}

#projects img {
  object-fit: contain;
  width: 100%;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #00000033;
}

.projects-header p {
  margin-top: 1em;
}

#sign-up {
  max-width: 70em;
  padding: 6.25em 1.25em;
  margin: auto;
}

.sign-up-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 1.5em;
  min-height: 10em;
  padding: 0em 1.25em;
  background-color: #548ca8;
  color: #eeeeee;
  box-shadow: 2px 2px 5px #00000033;
  border-radius: 5px;
}

.sign-up-header h2 {
  color: white;
}

.sign-up-header p {
  margin-top: 0.5em;
}

#form {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 1.5em;
}

#name,
#email {
  display: block;
  width: 100%;
  background: none;
  border: none;
  border-bottom: solid 2px #f9faf8;
  color: #eeeeee;
  font-size: 1em;
}

#email {
  margin-top: 1em;
}

#name::placeholder,
#email::placeholder {
  color: #eeeeee;
}

#name:focus,
#email:focus {
  outline: none;
}

#submit {
  place-self: flex-end;
  width: 95%;
  height: 100%;
  background: none;
  border: 2px solid #f9faf8;
  border-radius: 5px;
  color: white;
  font-size: 1em;
}

#submit:hover {
  cursor: pointer;
}

.footer {
  max-width: 70em;
  padding: 1.25em;
  margin: auto;
  text-align: center;
  font-size: 0.8em;
}

.footer a,
.footer a:visited,
.footer a:active {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 950px) {
  body {
    font-size: 18px;
  }

  nav ul {
    width: 450px;
  }
}

@media (max-width: 800px) {
  body {
    font-size: 16px;
  }

  nav ul {
    width: 300px;
  }

  #intro {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  .intro-header {
    text-align: left;
  }

  #features {
    grid-template-columns: 1fr;
    row-gap: 30px;

    /* prettier-ignore */
    grid-template-areas:
  "feature-header"
  "feature1"
  "feature2"
  "feature3";
  }

  .feature img {
    width: 80%;
    display: block;
    margin: auto;
  }

  .feature figcaption {
    margin: 15px 0px 15px;
  }

  #projects {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  .sign-up-form {
    grid-template-columns: 1fr;
    row-gap: 30px;
    padding: 1.25em;
  }
}

@media (max-width: 600px) {
  html {
    zoom: 70%;
  }
}
